.nav-btn {
    display: flex;
    flex-direction: row;
}
.btn-test {
    background-color: white;
    border-radius: 30px;
    height: 50px;
}
.maxWidth {
    max-width: 600px;
}
.maxMargin {
    margin-right: 0px;
    padding: 0px;
}
.barre-recherche {
    display: flex;
    align-items: center;
    width: 800px;
    height: 66px;
    border-radius: 30px;
    border-style: solid;
    padding: 5px 8px 0 14px;
    border-color: #dfe1e5;
    border-width: thin;
    margin-right: 0px;
}
.barre-recherche-input {
    border: none;
    border-radius: 30px;
}
.four {
    display: flex;
    flex-direction: row;
}
.five {
    background-color: red;
    display: flex;
    flex-direction: row;
    border-radius: 30px;
    align-items: center;
}
.line {
    height: 32px;
    border-left: solid 1px lightgray;
    margin-right: 12px;
}
.recherche-div {
    width: 100px;
}
.center-recherche {
    margin-left: 300px;
}
.img-div {
    position: relative;
    background-color: black;
    height: 983px;
    text-align: center;
}
.flexible-btn {
    border-radius: 30px;
    width: 188px;
    height: 52px;
    background-color: white;
    color: #6f019c;
    border: none;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 60%);
}
.image {
    padding-top: 30px;
    display: flex;
    justify-content: center;
    border-radius: 50px;
}
.ima {
    border-radius: 10px;
}
.txt {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -90%);
}
.white-div {
    background-color: lightgray;

    height: 711px;
    margin: 30px;
    margin-left: 60px;
    margin-right: 60px;
    margin-top: 60px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: black;
}
.achetez-btn {
    background-color: black;
    border-radius: 10px;
    width: 200px;
    height: 48px;
    border: none;
}
.pink-img {
    height: 711px;
}
.cartes-cadeaux-div {
    justify-content: center;
    margin-left: 200px;
}
.cards {
    display: flex;
    justify-content: space-between;
    margin-right: 30px;
    margin-left: 30px;
}
.card {
    width: 337px;
}
.card-body {
    height: 225px;
}
.card-title {
    color: white;
    font-size: 35px;
    font-weight: 600;
}
.card-text {
    color: white;
    font-size: 20px;
    font-weight: 400;
}
.two-images {
    display: flex;
    justify-content: space-between;
    margin-right: 80px;
    margin-left: 80px;
}
.first-image {
    position: relative;
}
.exp {
    position: absolute;
    transform: translate(10%, -430%);
    color: white;
}
.exp-btn {
    border-radius: 10px;
    width: 188px;
    height: 52px;
    background-color: white;
    color: black;
    border: none;

    position: absolute;
    transform: translate(-290%, 440%);
}
.assistance {
    display: flex;
}
.this {
    display: flex;
    flex-direction: column;
    margin-left: 60px;
    font-size: 14px;
    font-weight: inherit;
}
.hr {
    border: solid 0.5px lightgray;
    width: 1200px;
    margin-left: 60px;
    margin-top: 50px;
}
